---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav';
import Notification from '../components/notification';
import FeatureSection from '../components/FeatureSection'
import Footer from '../components/Footer'
---

<Layout title="懒人急救指南">
	<main class="mx-auto">
		<Nav client:visible></Nav>
		<Notification client:visible></Notification>
		<FeatureSection client:visible></FeatureSection>
		<Footer client:visible></Footer>
	</main>
</Layout>